<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">AndiB</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
		
		<li class = "dropdown">                                                       
			<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">MitarbeiterDropdown <b class = "caret"></b></a>
			<ul class = "dropdown-menu">
				<li><a href = "#">Mitarbeiter anlegen</a></li>
				<li><a href = "#">Mitarbeiterliste anzeigen</a></li>		
			</ul> 
		</li>
		
        <li><a href="#/start/mitarbeiterCreate">Mitarbeiter anlegen</a></li>
        <li><a href="#/start/mitarbeiterList">Mitarbeiterliste anzeigen</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class = "container">
               
	<div class = "jumbotron">
	        <h1>Andi B</h1>
	        <p>Erster Gehversuch mit Bootstrap! :-)</p>
	        <a class = "btn btn-default">Button1</a>
	        <a class = "btn btn-info">Button2</a>
	       	<a class = "btn btn-danger">Button3</a>
	</div>
   
</div>

<div class = "container">
	
	<div class ="row">
        <div class = "col-md-6">
            
            <h3><a href = "#">Überschrift1</a></h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            
        </div>
        
        <div class = "col-md-6">
            
            <h3><a href = "#">Überschrift1</a></h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            
        </div>
	</div>
    
    <div class = "row">
        
        <div class = "col-md-3">
            
            <h3><a href = "#">Überschrift1</a></h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            
        </div>
        
        <div class = "col-md-3">
            
            <h3><a href = "#">Überschrift1</a></h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            
        </div>
        
        <div class = "col-md-3">
            
            <h3><a href = "#">Überschrift1</a></h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            
        </div>
        
        <div class = "col-md-3">
            
            <h3><a href = "#">Überschrift1</a></h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            
        </div>
        
    </div>
    
</div>

<div class = "navbar navbar-default navbar-fixed-bottom">
   
        <div class = "container">
            <p class = "navbar-text pull-left">AndiB Oleeeeeeeee</p>
            <a href = "mailto:ich@du.de" class = "navbar-btn btn-danger btn pull-right">Mail mir!</a>
        </div>
   
</div>

<div class = "modal fade" id = "contact" role = "dialog">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h4>Der Mitarbeiter wurde erfolgreich geladen! <span class="glyphicon glyphicon-ok-circle"></span></h4>
            </div>
            <div class = "modal-footer">
                <a class = "btn btn-primary" data-dismiss = "modal">Ok</a>    
            </div>
        </div>
    </div>
</div>